pandas==2.2.2
# pandas-datareader==0.10.0
# pandas-gbq==0.29.1
# pandas-stubs==2.2.2.240909
# pickle-mixin==1.0.0
# scikit-image==0.25.2
scikit-learn==1.6.1
scikit-optimize==0.10.2
xgboost==2.1.4
joblib==1.5.1
numpy==2.0.2